.footer {
  background-color: #000;
  height: 100px;
  width: 100%;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.footer h1 {
  font-size: 48px;
  margin: 0;
  color: #b30000; /* normal red */
  transition: color 0.3s ease; /* smooth change */
  cursor: pointer;
}

.footer h1:hover {
  color: rgb(255, 0, 0); /* bright red on hover */
}

.footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0; /* Changed from bottom to top */
  width: 100%;
  height: 3px;

  background: linear-gradient(90deg, transparent, rgb(255, 0, 0), transparent);

  background-size: 200% 100%;
  animation: glowMove 2s linear infinite;
}

/* Animation (same as header) */
@keyframes glowMove {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
